{% extends "padre.html" %}

{% load static %}

{% block bloquecambia %}

    <h2 class="text-center">Buscar Bicicletas</h2>
    <br><br>
    <form class="text-center" action="BusquedaIndumentaria" method="GET"><!--En action colocamos el url del path sin la barra /-->
        
        
        <input value="Buscar tipo de Indumentaria:"  type="text" name="Tipo" id="Tipo">
      
        <br>
    
        <input type="submit" value="Buscar"  href="">
        <br><br>
    </form>
    



{% endblock bloquecambia %}