{% extends 'Padre.html' %}

{% load static %}

{% block bloquecambia %}

    <p>Se busco las Bicicletas con modelos: {{modelo}}</p>

    
    {% if modelos %}
        
        {% for item in modelos  %}
            <li>{{item.modelo}}</li>
        {% endfor %}
    {% else %}
        <p>No hay resultados.</p>        
        
    {% endif %}
    <br>
    <div class="text-center" ><a class="btn btn-outline-dark mt-auto" href="/Appventas/">VOLVER</a></div>

    <br>
        



{% endblock bloquecambia %}